**Please write a piece of code to find the names and order no of the presidents with the highest and the lowest heights.**

In [4]:
import numpy as np
import pandas as pd
data = pd.read_csv('president_heights.csv')

In [6]:
heights = np.array(data['height(cm)'])
print(heights)

[189 170 189 163 183 171 185 168 173 183 173 173 175 178 183 193 178 173
 174 183 183 168 170 178 182 180 183 178 182 188 175 179 183 193 182 183
 177 185 188 188 182 185]

In [7]:
x=heights.max()
y=heights.min()
x
y

condition = np.array(data['height(cm)']==x)
d1=data.loc[condition]
condition2 = np.array(data['height(cm)']==y)
d2=data.loc[condition2]
pd.concat([d1, d2])

    order               name  height(cm)
15     16    Abraham Lincoln         193
33     36  Lyndon B. Johnson         193
3       4      James Madison         163