**Please provide a similar table for your favorite 7 cities of Turkey that include their area and population.**

In [11]:
import numpy as np
import pandas as pd

In [12]:
population_dict = {'Çorum': 526282,                
                   'Eskişehir': 898369,
                   'İstanbul': 15840900,
                   'İzmir': 4425789,
                   'Mersin': 1891145,
                   'Ordu':760872,
                   'Ankara':5747325}
population_series = pd.Series(population_dict)
area_dict = {'Çorum': 12428,                
                   'Eskişehir': 13960,
                   'İstanbul': 5461,
                   'İzmir': 11891,
                   'Mersin': 16010,
                   'Ordu':5861,
                   'Ankara':25632}
area_series = pd.Series(area_dict)

In [13]:
data=pd.DataFrame({"Population": population_dict,"Area": area_dict})
data

           Population   Area
Çorum          526282  12428
Eskişehir      898369  13960
İstanbul     15840900   5461
İzmir         4425789  11891
Mersin        1891145  16010
Ordu           760872   5861
Ankara        5747325  25632